@import url('https://fonts.googleapis.com/css2?family=Lato');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    background: linear-gradient(to bottom, #18437c, #252525, #0f502a);
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-box {
    background-color: white;
    border-radius: 10px;
    padding: 35px 45px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

img {
    width: 40%;
    height: auto;
    display: block;
    margin: 0 auto 5px;
}

h1 {
    text-align: center;
    color: #333;
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 10px;
}

p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
}

h2 {
    text-align: center;
    color: #333;
    font-weight: 300;
    font-size: 18px;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #202020;
    font-weight: 400;
    font-size: 18px;
}

input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(107, 107, 107);
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

input.input-error,
select.input-error {
    border-color: rgb(212, 61, 61);
}

input:focus {
    outline: none;
    border-color: #3498db;
}

.btn-submit {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 85%;
    padding: 14px;
    background-color: #069b3f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 auto;
    margin-bottom: 20px;
}

.btn-submit:hover {
    background-color: #068034;
}

.form-footer {
    text-align: center;
    font-size: 16px;
}

.form-footer p {
    margin-bottom: 10px;
}

.form-footer a {
    text-decoration: none;
    color: #0b74b9;
}

.form-footer a:hover {
    text-decoration: underline;
}

.error-message {
    font-size: 16px;
    color: #a42834;
    text-align: center;
    margin-bottom: 20px;
}

.success-message {
    font-size: 16px;
    color: #a42834;
    text-align: center;
    margin-bottom: 20px;
}